@{
    ViewBag.Title = "ChooseAdventure";
}


<div class="row">
    <p>Choose your adventure </p>
</div>
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-3">

        <img src="~/Content/Images/HeroLogga.jpg" />
    </div>
    <div class="col-md-3">

        <img src="~/Content/Images/Sharkie.png" />
    </div>
    <div class="col-md-2"> </div>
</div>
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-3">
        @Html.ActionLink("Fight the dragon and save your princess", "Intro")
    </div>
    <div class="col-md-3">
        <p>Upcoming adventure </p>
    </div>
    <div class="col-md-2"> </div>
</div>





