@{
    ViewBag.Title = "First_Obsticle";
}
<div class="row">
    <p>
        The First Obsticle
    </p>
    <div class="col-md-6">
        <p>
            The hero sets out on his quest
            to save the queen.He ventured
            north untill he finnally could see
            the evil castle in the far distance
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/Ontheway.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/LaboryntDesolution.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            But ther was an obsticle he had to face before he could reach the castle. It was the Labyrinth of Delusion and the hero knew that some kind of evil magic lured in this maze.
        </p>
    </div>
</div>
<div class="row">
    <p>
        He took some time to look around and see if there was another way to the castle. Luck shined upon him when he found a secret entrence that could lead him to the castle.
    </p>
</div>
<div class="row">
    <p>
        The hero now has a decision to make:
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn-default">
         @Html.ActionLink("Enter the Labyrinth of Delusion", "LabyrinthOfDelusion")
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn-default">
            
            @Html.ActionLink("Enter the secret entrence", "Secret_Entrence")
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        

            <img src="~/Content/Images/Entrancemaze.jpg" />

    </div>

    <div class="col-md-6">

        <img src="~/Content/Images/entrance_door.jpg" />
    </div>
</div>




