@{
    ViewBag.Title = "Home page";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <span> <img src="~/Content/Images/Logo1.png" /></span>
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p>
            The Hero is a micro-roleplaying game for people that dont have time playing huge timeconsuming games. Where you, as a hero, will face a problem or a challange and you will need to solve it in order to make a step forward.
            It´s a critical moment in the game that the hero may force death and this depends on the way of your challange.
        </p>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/Ontheway.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/LaboryntDesolution.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/pic1.png" />
    </div>
</div>

@*<div><a href="" class="col-md-6">Login</a> <a href="" class="col-md-6"> Register</a></div>*@

@Html.Partial("_IndexLogin")
