@{
    ViewBag.Title = "Intro3";
}
<div class="row">
    <div class="col-md-6">
        <p>
            Our hero decides to face the sorcerer instead of runnin away  to the magical maze. He turns his sword into a magical flaming sword and shows that he is not afraid.

        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/facesorcere.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/swordclash.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            A intense battle begins. Sword swinging to the right and left with a spectacular magic lightning show as the two swords clash into one another. Both fought bravely but it was our hero who finally won.


        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            The hero wasted his enchanting magic on the sorcerer but knew he couldnt beat him in any other way.
            At last hes at the castle and his destiny to face the dragon and save the queen awaits.
        </p>
    </div>
    <div class="col-md-6">

        <img src="~/Content/Images/thecastle.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>

    <div class="col-md-2">
        <button class="btn-default">@Html.ActionLink("Next", "EndFight") </button>
    </div>
</div>




