@{
    ViewBag.Title = "Intro2";
}
<div class="row">
    <div class="col-md-6">
        <p>
            Our hero decides to face the scorpion instead of runnin away to the secret passage. He turns his sword into a magical flaming sword and with one blow kills the beast.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/flamingsword.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/obsticles.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            The hero wasted his enchanting magic on the scorpion but knew he couldnt beat it in any other way. He succesfully passes all the remaining traps as he leaves he maze.

        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            And now he is here. In front of the castle entrence. Our hero knows that his desteny awaits him inside. To defeat the evil king dragon and save the princess.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/thecastle.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>

    <div class="col-md-2">
        <button class="btn-default">@Html.ActionLink("Next", "EndFight") </button>
    </div>
</div>




