@{
    ViewBag.Title = "Intro";
}
<div class="row">
    <div class="col-md-6">
        <p>
            Ancient prophecy foretold that the beloved Princess Demurra would be kidnapped by
            King Draykor, the evil dragon king who hungry for power.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/pics7.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/delusion.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            The time has come when the prophecy has been fulfilled and the evil dragon King Draykor
            has kidnapped and taken the princess to his evil Castle guarded by a magic Maze.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            And now, only one hero can rescue her. Her one true love. And once he saves her, they
            will live happily ever after, and use their compatible features to produce many attractive offspring
            who will also live happily ever after!
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/pics12.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-10"></div>

    <div class="col-md-2">
        <button class="btn-default"> @Html.ActionLink("Next", "FirstObsticle") </button>
    </div>
</div>




