@{
    ViewBag.Title = "Labyrinth_Of_Delusion";
}
<div class="row">
    <p>
        The Labyrinth Of Delusion
    </p>
    <div class="col-md-6">
        <p>
            The hero ventures through the labyrinth. He starts hearing things and seing strange shapes that arent there.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/entersmaze.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Content/Images/realobsticlesfirst.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            But our Hero brings him self togetter and one by one he overcomes the obsticles and traps that lay before him.

        </p>
    </div>
</div>
<div class="row">
    <p>
        He's almost at the end of the maze when suddenly a great monster scorpion jumps out infront of him!

    </p>
</div>
<div class="row">
    <p>
        And so the fight begins:
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn-default">
            
            @Html.ActionLink("Run back to the Secret Passage", "Secret_Entrence")
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn-default">

            @Html.ActionLink("Attack the Scorpion", "Intro2")
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <img src="~/Content/Images/entrance_door.jpg" />
    </div>

    <div class="col-md-6">
        <img src="~/Content/Images/Mazeboss.png" />
    </div>
</div>




