@{
    ViewBag.Title = "Secret_Entrance";
}
<div class="row">
    <p>
        The Secret Entrence
    </p>
    <div class="col-md-6">
        <p>
            The Hero busts open the secret entrence only to find a evil sorcerer whos only purpose is to defend this passage.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/Enters.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <img src="~/Content/Images/SorcSword.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            The evil sorceres starts mumbling in some ancient language and lights up his sword with some magical power.
        </p>
    </div>
</div>
<div class="row">
    <p>
        Our hero knows how to make his sword magical as well but wonders if he should waste this power now or save it for later.

    </p>
</div>
<div class="row">
    <p>
        The two stare intense on one another:

    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn-default">
          
            @Html.ActionLink("Run back to the Labyrinth of Delusion", "LabyrinthOfDelusion")
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn-default">
            @Html.ActionLink("Fight The Sorcerer", "Intro3")

        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <img src="~/Content/Images/entrance_door.jpg" />
    </div>

    <div class="col-md-6">
        <img src="~/Content/Images/herosword.jpg" />
    </div>
</div>




