@{
    ViewBag.Title = "Win";
}
<div class="row">
    <div class="col-md-6">
        <p>
            Our hero decides sneak around and not to get caught. He reaches the princess but to his surprise she says that she dosent need rescue and she is in love with the dragon who in fact is not evil.

        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/explains.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <img src="~/Content/Images/subdue.png" />
    </div>
    <div class="col-md-6">
        <p>
            The hero wont accept this and forces her to come with him. They succesfully leave the castle. Altough, once the hero thougth they where safe, the princess manages to subdue the hero and ties him up.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            It seems as the prohpecy only was about the dragon kidnapping the princess, wich in fact was miss interpreted. And it didnt say anything about a hero rescue. To clear things up the princes and the dragon decided to get married.

        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/kiss.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        Congratulations!
        The end!
    </div>

    <div class="col-md-2">
        <button class="btn-default"> @Html.ActionLink("Replay", "Intro")</button>
        <button class="btn-default"> @Html.ActionLink("Choose new adventure", "ChooseAdventure")</button>
    </div>
</div>




